<h1>Certificate Storage</h1>
<div class="certificates">
  <div class="certificates__row">
    <div class="certificates__list">
      <table>
        <tr>
          <td>Hello World! &vrtri;</td>
        </tr>
        <tr>
          <td>Hello World! &vrtri;</td>
        </tr>
        <tr>
          <td>Hello World! &vrtri;</td>
        </tr>
        <tr>
          <td>Hello World! &vrtri;</td>
        </tr>
        <tr>
          <td>Hello World! &vrtri;</td>
        </tr>
      </table>
    </div>
    <div class="button">
      <button class="certificates__btn">Додати</button>
    </div>
  </div>

  <div class="certificates__row">
    <ngx-file-drop dropZoneClassName="drop-zone" contentClassName="content-zone" dropZoneLabel="Drop files here"
      (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
      <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
        <p>Перетягніть файл сертифіката у поле</p>
        <img class="upload-icon" src="../assets/icons/upload.svg" alt="">
      </ng-template>
    </ngx-file-drop>
  </div>
</div>